USE [master]
GO
/****** Object:  Database [Demo]    Script Date: 17.05.2026 15:55:19 ******/
CREATE DATABASE [Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demo', FILENAME = N'C:\Users\Ульяна\Demo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Demo_log', FILENAME = N'C:\Users\Ульяна\Demo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo]
GO
/****** Object:  Table [dbo].[user]    Script Date: 17.05.2026 15:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[Логин] [nvarchar](255) NOT NULL,
	[Роль сотрудника] [nvarchar](255) NULL,
	[Фамилия] [nvarchar](255) NULL,
	[Имя] [nvarchar](255) NULL,
	[Отчество] [nvarchar](255) NULL,
	[Пароль] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 17.05.2026 15:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Номер заказа] [float] NULL,
	[Артикул заказа 1] [nvarchar](255) NULL,
	[Количество 1] [float] NULL,
	[Актикул заказа 2] [nvarchar](255) NULL,
	[Количество 2] [float] NULL,
	[Дата заказа] [datetime] NULL,
	[Дата доставки] [datetime] NULL,
	[Адрес пункта выдачи] [float] NULL,
	[ФИО авторизированного клиента] [nvarchar](255) NULL,
	[Код для получения] [float] NULL,
	[Статус заказа] [nvarchar](255) NULL,
	[Новый_Номер] [int] IDENTITY(1,1) NOT NULL,
	[Артикул_заказа_1_new] [int] NULL,
	[Артикул_заказа_2_new] [int] NULL,
	[Адрес_пункта_new] [int] NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[Новый_Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пункты_выдачи]    Script Date: 17.05.2026 15:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пункты_выдачи](
	[Номер] [float] NULL,
	[Индекс] [float] NULL,
	[Город] [nvarchar](255) NULL,
	[Улица] [nvarchar](255) NULL,
	[Дом] [float] NULL,
	[Новый_Индекс] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Пункты_выдачи] PRIMARY KEY CLUSTERED 
(
	[Новый_Индекс] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товар]    Script Date: 17.05.2026 15:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товар](
	[ID Товара] [float] NULL,
	[Артикул] [nvarchar](255) NULL,
	[Наименование товара] [nvarchar](255) NULL,
	[Единица измерения] [nvarchar](255) NULL,
	[Цена] [float] NULL,
	[Поставщик] [nvarchar](255) NULL,
	[Производитель] [nvarchar](255) NULL,
	[Категория товара] [nvarchar](255) NULL,
	[Действующая скидка] [float] NULL,
	[Кол-во на складе] [float] NULL,
	[Описание товара] [nvarchar](255) NULL,
	[Фото] [nvarchar](255) NULL,
	[Новый_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Товар] PRIMARY KEY CLUSTERED 
(
	[Новый_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_ПунктыВыдачи] FOREIGN KEY([Адрес_пункта_new])
REFERENCES [dbo].[Пункты_выдачи] ([Новый_Индекс])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_ПунктыВыдачи]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Товар1] FOREIGN KEY([Артикул_заказа_1_new])
REFERENCES [dbo].[Товар] ([Новый_ID])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Товар1]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Товар2] FOREIGN KEY([Артикул_заказа_2_new])
REFERENCES [dbo].[Товар] ([Новый_ID])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Товар2]
GO
USE [master]
GO
